.fa-myMenu{
	width: 24px;
	height: 24px;
	background-color: transparent;
	background-image: url('icons/menu.svg');
}

.fa-myActions{
	width: 24px;
	height: 24px;
	background-color: transparent;
	background-image: url('icons/actions.svg');
}

.fa-mySettings{
	width: 24px;
	height: 24px;
	background-color: transparent;
	background-image: url('icons/settings.svg');
}

.fa-myUpload{
	width: 24px;
	height: 24px;
	background-color: transparent;
	background-image: url('icons/upload.svg');
}

.fa-myDownload{
	width: 24px;
	height: 24px;
	background-color: transparent;
	background-image: url('icons/download.svg');
}

.fa-mySystem{
	width: 24px;
	height: 24px;
	background-color: transparent;
	background-image: url('icons/system.svg');
}

.fa-myStatus{
	width: 24px;
	height: 24px;
	background-color: transparent;
	background-image: url('icons/status.svg');
}

.fa-myStatusRed{
	width: 24px;
	height: 24px;
	background-color: transparent;
	background-image: url('icons/statusRed.svg');
}

.fa-myStatusGreen{
	width: 24px;
	height: 24px;
	background-color: transparent;
	background-image: url('icons/statusGreen.svg');
}

.fa-myStatusOrange{
	width: 24px;
	height: 24px;
	background-color: transparent;
	background-image: url('icons/statusOrange.svg');
}
