.title {
  display: block;
  margin-top:0.4em;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

.status {
  width: 100%;
  font-size:  3vw;
  vertical-align:middle;
  text-align: center;
  color: green;
}

.table{
   width: 100%;
   border-collapse:collapse;
   border: 5px solid white;
}

.top{
  border-top:5px solid white;
}

.label{
  font-size:  3vw;
  vertical-align:middle;
  color: white;
}

.div{
  width: 100%;
  font-size:  3vw;
  vertical-align:middle;
  color: white;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.center{
  text-align: center;
}

.white{
  color: white;
}

.input{
  width: 100%;
  font-size:  3vw;
  vertical-align:middle;
  text-align: center;
}

.button { 
  width: 100%;
  font-size:  3vw;
  vertical-align:middle;
  border-radius: 2vw;
  cursor: pointer;
}

.b_green {
  background-color: green;
}

.b_orange {
  background-color: orange;
}

.b_red {
  background-color: red;;
}

.b_blue {
  background-color: blue;;
}

.b_black {
  background-color: black;;
}
