<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "com.jbreizh.imagepainting"
	version   = "1.0.0">

	<name>ImagePainting</name>

	<description>
		LigthPainting on an ESP8266 via wifi. This is the control application for smartphone.
	</description>

	<author href="https://github.com/jbreizh/ImagePainting" email="jb.lecoz@gmail.com">
		Jean-Baptiste Le Coz
	</author>

	<!-- Define the main entry-point to the application -->
	<content src="index.html" />

	<icon src="icon.png" />

    <plugin name="cordova-plugin-whitelist" spec="~1.3.4" />

	<access origin="*" />

	<allow-navigation href="*" />
	<allow-intent href="*" />

</widget>